body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-bottom: 100px; /* Espaço extra para o footer fixo */
}

header {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
}

header img {
    width: 170px;
}

h1, h2, h3 {
    color: #333;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

footer {
    position: fixed; /* Posiciona o footer fixo na tela */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px -2px 5px rgba(0,0,0,0.2); /* Sombra para um efeito visual distinto */
}